%script{ 'data-template-name' => 'todos', type: 'text/x-handlebars' }
  %section#todoapp
    %header#header
      %h1= 'todos'
      %input#new-todo{ placeholder: 'What needs to be done?', type: 'text' }/
    %section#main
      %ul#todo-list
        {{#each}}
        %li
          %input.toggle{ type: 'checkbox' }/
          %label {{title}}
          %button.destroy
        {{/each}}
      %input#toggle-all{ type: 'checkbox' }/
    %footer#footer
      %span#todo-count= '2 todos left'
      %ul#filters
        %li= link_to 'All', 'all', class: 'selected'
        %li= link_to 'Active', 'active'
        %li= link_to 'Completed', 'completed'
      %button#clear-completed
        = 'Clear completed (1)'
  %footer#info
    %p= 'Double-click to edit a todo'